.yellow { 
  color: #f5af4b;
}

.header-text{
  font-size: 40px;
  margin-bottom: 47px;
  padding-top: 22vh;
}

.upload-bt{
  background: #FFFFFF;
  border-radius: 50px;
  border: 3px solid #f5af4b;
  color: #f5af4b;
  cursor: pointer;
  display: block;
  font-size: 24px;
  height: 66px;
  margin: 25px auto;
  padding: 17px;
  text-align: left;
  width: 507px;
}

.convert-bt {
  background: #f5af4b;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 25px;
  height: 66px;
  margin: 25px auto;
  padding: 17px;
  text-align: center;
  width: 507px;
}

.upload-icon{
  font-size: 55px;
  left: -17px;
  margin-left: auto;
  position: relative;
  top: -46px;
  width: 20px;
}
